<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todolist</title>
    <link rel="stylesheet" href="../CSS/receipt.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <script src="../Script/Libraries/jquery-3.4.1.js"></script>
    <script src="../Script/Libraries/jquery-1.12.4.js"></script>
    <script src="../Script/Libraries/jquery-ui.js"></script>
    <script src="../Script/Views/receipt.js"></script>

</head>
<body>
<!-- header-->
    <div class="header">
        <p class="logo">My todo list</p>
    </div>
<!--toolbar-->
    <div class="toolbar">
        <button class="item add-new">
            <div class="icon add-new"></div>
            <span>Thêm mới</span>
        </button>
        <button class="item edit" disabled>
            <div class="icon edit"></div>
            <span>Sửa</span>
        </button>
        <button class="item delete" disabled>
            <div class="icon delete"></div>
            <span>Xóa</span>
        </button>
    </div>
<!--content-->
    <div class="content">
        <div class="table-content">
            <table class="main-table">
                <thead>
                    <tr>
                        <th></th>
                        <th fieldname="text">Todo list</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <div id="dialog-add" title="Add new todo">
            <input class="input-text-add" type="text" placeholder="Enter text">
            <button class="submit-text-add" type="submit">OK</button>
        </div>
        <div id="dialog-edit" title="Edit todo">
            <input class="input-text-edit" type="text" placeholder="Enter text">
            <button class="submit-text-edit" type="submit">OK</button>
        </div>
    </div>

   <!--so bo .. di lai sai-->
</body>
</html>