<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todolist</title>
    <link rel="stylesheet" href="../CSS/receipt.css"> <!--so bo .. di lai sai-->
</head>
<body>
<!-- header-->
    <div class="header">
        <p class="logo">My todo list</p>
    </div>
<!--toolbar-->
    <div class="toolbar">
        <button class="item add-new">
            <div class="icon add-new"></div>
            <span>Thêm mới</span>
        </button>
        <button class="item edit">
            <div class="icon edit"></div>
            <span>Sửa</span>
        </button>
        <button class="item delete">
            <div class="icon delete"></div>
            <span>Xóa</span>
        </button>
    </div>
<!--content-->
    <div class="content">
        <div class="table-content">
            <table class="main-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Todo list</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="uncheck"></td>
                        <td>dog</td>
                    </tr>
                    <tr>
                        <td class="uncheck"></td>
                        <td>dog</td>
                    </tr>
                    <tr>
                        <td class="uncheck"></td>
                        <td>dog</td>
                    </tr>
                    <tr>
                        <td class="uncheck"></td>
                        <td>dog</td>
                    </tr>
                    <tr>
                        <td class="uncheck"></td>
                        <td>dog</td>
                    </tr>
                    <tr>
                        <td class="uncheck"></td>
                        <td>dog</td>
                    </tr>
                    <tr>
                        <td class="uncheck"></td>
                        <td>dog</td>
                    </tr>
                    <tr>
                        <td class="uncheck"></td>
                        <td>dog</td>
                    </tr>
                    <tr>
                        <td class="uncheck"></td>
                        <td>dog</td>
                    </tr>
                    <tr>
                        <td class="uncheck"></td>
                        <td>dog</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>